/*------------------------------
            SUBSCRIBE
-------------------------------*/

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
  font-family:'Press Start 2P', cursive ;
  background-color: silver;
}

.block{
  width: 100%;
  height: 40px;
}

.up{
  border-bottom: 5px solid black;
}

.down{
  border-top: 5px solid black;
}

.logo{
 width: 35px;
 height: 35px;
 border-radius: 20px;
}

li{
  padding: 30px;
  list-style: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dropdown:hover{
  text-decoration: none;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}
.tendina{
  display: none;
}


/*---------------------------
           MOBILE
-----------------------------*/

@media only screen and (max-width:470px) {


.page{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}


.title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

h1{
  font-size: 27px;
  letter-spacing: 10px;
  line-height: 40px;
}

h4{
  font-size: 12px;
  letter-spacing: 8px;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  font-size: 11px;
}

.tendina li  {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 8px;
 font-size: 11px;
}

.dropdown:hover .tendina {
 display: flex;
 margin: 10px;
}


.menu{
  padding-top: 40px;
  font-size: 8px;
}

.project{
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
 }

.provisional{
  text-align: center;
  margin-top: 30%;
  margin-bottom: 30%;
}
}



/*-------------------------------
             TABLET
---------------------------------*/

@media only screen and (min-width:470px) and (max-width: 961px) {

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

h1{
 font-size: 50px;
 letter-spacing: 10px;
 line-height: 70px;
}

h4{
 font-size: 15px;
 letter-spacing: 18px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  font-size: 11px;
}

.tendina li  {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 8px;
 font-size: 11px;
}

.dropdown:hover .tendina {
 display: flex;
}


.project{
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
}

.provisional{
  font-size: 22px;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 20%;
}
}

/*----------------------------
          DESKTOP
------------------------------*/

@media only screen and (min-width:961px) {



.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  padding-bottom: 40px;
  border-bottom: 5px solid black;
}

h1{
  font-size: 73px;
  letter-spacing: 18px;
  line-height: 90px;
}

h4{
  font-size: 23px;
  letter-spacing: 28px;
}

.container{
  width: 100%;
  display: flex;

}

.section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.home,
.about-me,
.project,
.contact-me,
.social{
  width: 50%;
}

.tendina li  {
  margin-top: 20px;
  padding: 4px;
  cursor: pointer;
}

.dropdown {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 16px;
}

.dropdown:hover .tendina {
  display: flex;
}

.project{
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  height: 80px;
  text-align: left;
}

.provisional{
  font-size: 40px;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 20%;
}
}
